In [1]:
import pandas as pd #데이터 분석 관련 라이브러리

In [2]:
df=pd.DataFrame({'A':[10,20,30], #A,B,C는 column(열)
                'B':[30,40,50], 
                'C':['a','b','c']})
df #A,B,C는 column(열)
   #0,1,2는 index, 나머지는 값

    A   B  C
0  10  30  a
1  20  40  b
2  30  50  c

In [3]:
df['C'] #열을 기준으로 특정 열 값을 가져올 수 있음!

0    a
1    b
2    c
Name: C, dtype: object

In [4]:
df['C'].to_frame() #dataframe 형식으로 출력

   C
0  a
1  b
2  c

In [5]:
df[['C','B']]

   C   B
0  a  30
1  b  40
2  c  50

In [6]:
sum(df['A']) #sum함수를 이용하여 연산 가능

60

In [7]:
sum(df['A'])/3 #A의 평균 구하기

20.0

예시데이터

In [8]:
df=pd.read_excel('/Users/mac_owner/Desktop/py4e/excel_exam.xlsx') #엑셀 파일 읽어오기

In [9]:
len(df) #df의 길이 확인. 즉, 데이터 갯수 확인

20

In [10]:
sum(df['math'])/len(df) #math의 평균 확인

57.45

In [11]:
df['math']*5

0     250
1     300
2     225
3     150
4     125
5     250
6     400
7     450
8     100
9     250
10    325
11    225
12    230
13    240
14    375
15    290
16    325
17    400
18    445
19    390
Name: math, dtype: int64

In [12]:
df_1 =pd.read_csv('/Users/mac_owner/Downloads/mpg.csv') #csv 파일 가져오기
df_1

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [13]:
df_1.head() #상위 5개 행 볼 수 있음. default값이 5로 설정돼 있기 때문

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [14]:
df_1.tail() #하위 5개 행 볼 수 있음

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [15]:
df_1.shape #데이터 행 열 값 확인

(234, 11)

In [16]:
df_1.info() #변수 속성 확인 가능. object는 문자열

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  category      234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB